@font-face {
  font-family: nbaxFont;
  font-style: normal;
  font-weight: 100;
  src: local("nbax_regular"), url(../fonts/nbax_regular.woff2) format("woff2");
}

body {
  margin: 0;
  font-family: nbaxFont !important;
  font-size: 11px;
  /* background-color: #3e424a; */
  background-image: linear-gradient(to right, #3e424a 0%, #34353b 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
